unset AWS_ACCESS_KEY_ID
unset AWS_ACCOUNT_NUMBER
unset AWS_DEFAULT_OUTPUT
unset AWS_DEFAULT_REGION
unset AWS_PROFILE
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN


export AWS_PROFILE=ara

export AWS_ACCESS_KEY_ID=$(aws configure get aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(aws configure get aws_secret_access_key)
export AWS_DEFAULT_REGION=$(aws configure get region)
export AWS_DEFAULT_OUTPUT=$(aws configure get output)
export AWS_ACCOUNT_NUMBER=$(aws sts get-caller-identity | jq -r '.Account')
