body {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.header{
    background-color: #2DA1EF;
}

.chart{
    height:400px;
}